.header {
  @include flex;
  align-items: flex-start;
  font-family: 'Alegreya Sans';
  font-size: rem(18px);
  padding-top: rem(28px);
}

.menu {
  margin: 0 30px;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  padding-right: rem(24px);
  

  &:last-child {
    padding-right: 0;
  }
}

.menu__link {
  white-space: nowrap;
}

.phone {
  position: relative;
  white-space: nowrap;
}

.phone__img {
  width: rem(14px);
  height: rem(14px);
  margin-right: 3px;
}

.header__phone {
  @include tablets {
    display: none;
  }
}

.phone__contacts {
  font-family: 'Play';
  font-size: rem(18px);
  line-height: rem(21px);
}





