.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews__title {
  margin-bottom: rem(66px);
}

.reviews__block {
  display: flex;
  flex-direction: column;
}

.reviews__info {
  display: flex;
  background: #F8FAF9;
  width: rem(940px);
  position: relative;
  padding: rem(42px);

  @include tablets{
    flex-direction: column;
    width: 100%;
    
  }

  &::before {
    content: '';
    width: rem(83px);
    height: rem(41px);
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;;
    top: rem(-25px);
    left: 50%;
    transform: translateX(-50%);

    @include phones {
      display: none;
    }
  }
}

.review {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: rem(38px);
  padding-top: rem(30px);

  @include tablets {
    text-align: center;
    width: 100%;
    margin-left: 0;
   }
}

.review__img {
  
  @include tablets {
   width: 8.1rem;
   height: 8.1rem;
   margin: 0 auto;
  }
}

.review__text {
  @include text;
  margin: rem(21px) 0;
}

.review__name {
  font-size: rem(20px);
  font-weight: 700;
}
 
.reviews__slider {
  @include flex;
  justify-content: center;

  margin-top: rem(50px);
}

.reviews__img {
  width: rem(78px);
  height: rem(78px);
  border-radius: 50%;
  margin-right: rem(10px);


  &:last-child {
    margin-right: 0;
  }

  &--active {
    border: rem(4px) solid #E01F3D;
  }
}

.reviews__link {
  width: 100%;
  height: 100%;
}


.reviews__logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
