.team {
  text-align: center;
  position: relative;


  @include tablets {
    display: block;
  }
}

.container__team {
  position: absolute;
  top: 25%;
}


.team__title {
  margin-bottom: rem(66px);

  @include tablets {
    margin-bottom: rem(30px);
  }
}

.team__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.team__item {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(30px);
  }

  &--active {
    .item__name::after {
      transform: rotate(-180deg);
    }

    .item__content {
      height: 100%;
    }
  }
}

.item__img {
  width: rem(220px);
  height: rem(290px);
  margin-bottom: rem(25px);

  @include tablets {
    display: none;
  }
}

.item__img--mobile {
  display: none;
  width: rem(220px);
  height: rem(290px);

  @include tablets {
    display: block;
  }
}


.item__name {
  display: inline-flex;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
    right: -15px;
    top: 10px;
  }
}

.item__content {
  overflow: hidden;
	height: 0;
	transition: .8s;

		&-wrapp {
			display: flex;
		}

}

.item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 11px;
}

.item__who {
  margin-bottom: 4px;
}

.item__about {
  color: #666666;
}