.primary {
  background: $bg-g;
  position: relative;
  justify-content: flex-start;
}

.welcome {
  display: flex;
  position: relative;
  margin-top: rem(100px);

  @include phones {
    margin-top: 0;
  }

  &::before {
    content: '';
    background: url('../img/welcome.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 10%;
    width: 50%;
    height: 100%;

    @include tablets {
      transform: translate(-50%, 0);
      
    }

    @include phones {
      transform: translate(-50%, 0);
      margin-top: 0;
    }
  }

  @include tablets {
    justify-content: center;
    padding-top: 50%;
  }

}

.advantage__list {
  display: flex;
  justify-content: space-between;
}

.welcome__info {
  text-align: left;
  width: 50%;
  margin-top: rem(92px);

  @include tablets {
    width: 80%;
    text-align: center;
  }
}

.welcome__title {
  font-family: 'Play';
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(52px);
  margin-bottom: rem(22px);
  word-wrap: break-word;

  @include phones {
    font-size: 2.5rem;
  }

}

.welcome__text p{
  font-family: 'Alegreya Sans';
  font-size: rem(21px);
  line-height: rem(24px);
  margin-bottom: rem(33px);
}

.welcome__button {
  margin-bottom: rem(67px);
}

.advantage {
  @include tablets {
    display: none;
  }
}

.advantage__item {
  margin-right: 20px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }
}

.advantage__img {
  margin-right: rem(7px);
  width: rem(50px);
  height: rem(50px);
} 

.advantage__text {
  font-family: 'Play';
}




