.primary {
  background: $bg-g;
  position: relative;
}

.welcome {
  display: flex;
  margin-top: 10%;
}

.advantage__list, .advantage__item  {
  @include flex;
}

.welcome__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  flex: 1;
  margin-top: 92px;
}

.welcome__title {
  font-family: 'Play';
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 22px;
}

.welcome__text p{
  font-family: 'Alegreya Sans';
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 33px;
  width: 75%;
}

.welcome__button {
  margin-bottom: 67px;
}

.advantage__item {
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

.advantage__img {
  margin-right: 8px;
} 

.advantage__text {
  font-family: 'Play';
}

.welcome__image {
  max-width: 100%;
  margin-top: 40px;
  flex: 1;
}


