.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.why__title {
  margin-bottom: 7px;
}

.why__qual {
  width: 590px; 
  @include text;
}

.why__list {
  display: flex;
  justify-content: space-between;
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  position: relative;
  margin-right: 70px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 67px;
    height: 21px;
    background: url('../img/dots.png');
    left: 87%;
    top: 18%;
  }

  &:last-child {
    margin-right: 0;
    &::after {
      content: none;
    }
  }
}

.why__dots {
  margin: 0 4px;
  padding-top: 60px;
}

.why__img {
  @include flex;
  justify-content: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #F2F5F4;
}

.why__info {
  padding: 24px 0;
}


.info__text {
  @include text;
  line-height: 19.5px;
}

