.why {
  text-align: center;
}

.why__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(56px);
}

.why__title {
  margin-bottom: rem(7px);

  @include mini-phones {
    margin-bottom: 0;
  }
}

.why__qual {
  width: rem(590px); 
  @include text;

  @include phones {
    width: 85%;
  }
}

.why__list {
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(256px);
  position: relative;
  margin-right: rem(70px);

  @include phones {
    flex-direction: row;
    width: 100%;
    margin-right: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: rem(67px);
    height: rem(21px);
    background: url('../img/dots.png');
    left: 102%;
    top: 18%;

    @include tablets {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0;
    &::after {
      content: none;
    }
  }
}

.why__dots {
  margin: 0 rem(4px);
  padding-top: rem(60px);
}

.why__img {
  @include flex;
  justify-content: center;
  width: rem(128px);
  height: rem(128px);
  border-radius: 50%;
  background: #F2F5F4;

  &--logo {
    width: rem(68px);
    height: rem(68px);
  }
}


.why__info {
  padding: rem(24px) 0;
  

  @include phones {
    text-align: left;
    flex: 1;
    margin-left: rem(12px);
  }
}


.info__text {
  @include text;
  line-height: 19rem(5px);
}

