html {
  font-family: "Alegreya Sans", "Play", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
  color: #000;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  cursor: pointer;
  width: 163px;
  height: 60px;
  border-radius: 100px;
  background-color: #CA1B36;
  color: #fff;
  font-family: "Play";
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 940px;
}

.maincontent {
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section {
  height: 100vh;
}

.container {
  margin: auto;
  width: 940px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-family: "Play";
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-family: "Play";
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.header, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya Sans";
  font-size: 18px;
}

.header {
  padding-top: 28px;
}

.menu__item {
  padding-right: 28px;
}
.menu__item:last-child {
  padding-right: 0;
}

.phone {
  position: relative;
  margin-left: 29px;
}
.phone:before {
  content: "";
  display: block;
  background: url("../img/phone.png") no-repeat;
  position: absolute;
  width: 14px;
  height: 15px;
  top: 5px;
  left: -20px;
}

.phone__contacts {
  font-family: "Play";
  font-size: 18px;
  line-height: 21px;
}

.primary {
  background: #F5F5F5;
  position: relative;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
}

.advantage__list, .advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 92px;
}

.welcome__title {
  font-family: "Play";
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 22px;
}

.welcome__text p {
  font-family: "Alegreya Sans";
  font-size: 21px;
  line-height: 24px;
  margin-bottom: 33px;
  width: 75%;
}

.button {
  margin-bottom: 67px;
}

.advantage__item {
  margin-right: 27px;
}
.advantage__item:last-child {
  margin-right: 0;
}

.advantage__img {
  margin-right: 8px;
}

.advantage__text {
  font-family: "Play";
}

.welcome__image {
  max-width: 100%;
  margin-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fixed {
  position: fixed;
  right: 20%;
  top: 22%;
}

.fixed__item {
  margin-bottom: 18px;
}
.fixed__item:last-child {
  margin-bottom: 0;
}

.fixed__link {
  display: block;
  width: 6px;
  height: 6px;
  background: #666666;
  border-radius: 50%;
}
.fixed__link--active {
  background: #E01F3D;
  position: relative;
}
.fixed__link--active:after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #E01F3D;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

.why__title {
  margin-bottom: 7px;
}

.why__qual {
  width: 590px;
  font-family: "Play";
  color: #666;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 256px;
  position: relative;
  margin-right: 70px;
}
.why__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 21px;
  background: url("../img/dots.png");
  left: 87%;
  top: 18%;
}
.why__item:last-child {
  margin-right: 0;
}
.why__item:last-child::after {
  content: none;
}

.why__dots {
  margin: 0 4px;
  padding-top: 60px;
}

.why__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #F2F5F4;
}

.why__info {
  padding: 24px 0;
}

.info__text {
  font-family: "Play";
  color: #666;
  line-height: 19.5px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.reviews__title {
  margin-bottom: 66px;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F8FAF9;
  margin-bottom: 15px;
  width: 940px;
  position: relative;
}
.reviews__info::before {
  content: "";
  width: 83px;
  height: 41px;
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 38px;
  padding-top: 30px;
}

.review__img {
  max-width: 100%;
}

.review__text {
  font-family: "Play";
  color: #666;
  width: 498px;
  margin: 21px 0;
}

.review__name {
  font-size: 20px;
  font-weight: 700;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
}

.reviews__img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 10px;
}
.reviews__img:last-child {
  margin-right: 0;
}
.reviews__img--active {
  border: 4px solid #E01F3D;
}

.reviews__link {
  width: 100%;
  height: 100%;
}

.reviews__logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/order.png") center center no-repeat;
  color: #fff;
  font-family: "Play";
}

.order__title {
  text-align: center;
  margin: 51px 0;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 32px;
}
.order__col:last-child {
  margin-right: 0;
}

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}
.order__row:last-child {
  margin-bottom: 0;
}

.order__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.order__block:last-child {
  margin-right: 0;
}

.order__input {
  width: 100%;
  height: 58px;
  border: 3px solid transparent;
  padding: 18px 11px;
  border-radius: 4px;
}
.order__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.order__input--textarea {
  height: 154px;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
}

.order__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/checked.png") center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 8px;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.buttons {
  margin-top: 45px;
}

.button__reset {
  border: none;
  background: transparent;
  font-weight: 400;
  width: 70px;
}

.map {
  background: url("../../img/map.png") center no-repeat;
  background-size: cover;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  padding-left: 7px;
}

.contacts__address {
  font-family: "Play";
  font-size: 18px;
  margin-bottom: 3px;
}

.footer__phone {
  margin-left: 17px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 123px;
}

.social__item {
  margin-right: 10px;
}

.social__logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  position: relative;
}

.social__logo--tg::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -60px -10px;
}

.social__logo--tg::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -110px -60px;
}

.social__item:hover .social__logo--tg::after {
  opacity: 1;
}

.social__logo--vk::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -110px -10px;
}

.social__logo--vk::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -60px -110px;
}

.social__item:hover .social__logo--vk::after {
  opacity: 1;
}

.social__logo--fb::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -10px -10px;
}

.social__logo--fb::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -60px -60px;
}

.social__item:hover .social__logo--fb::after {
  opacity: 1;
}

.social__logo--in::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -10px -60px;
}

.social__logo--in::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../img/css_sprites.png") -10px -110px;
}

.social__item:hover .social__logo--in::after {
  opacity: 1;
}