html {
  font-family: "Alegreya Sans", "Play", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #fff;
  color: #000;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  border: 0;
  margin: 0;
  cursor: pointer;
  width: 163px;
  height: 60px;
  border-radius: 100px;
  background-color: #CA1B36;
  color: #fff;
  font-family: "Play";
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-content {
  background-repeat: no-repeat;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 940px;
  width: 95%;
}

h1 {
  font-size: rem(72px);
}

h2 {
  font-family: "Play";
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-family: "Play";
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: rem(16px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(27px);
}

.burger {
  display: none;
  position: fixed;
  top: 30px;
  right: 7%;
  width: 28px;
  height: 24px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 100;
}
.burger__line {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #000;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger--active {
  z-index: 10000;
}

.burger--active .burger__line {
  background: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-6px) translateX(5px);
          transform: rotate(-45deg) translateY(-6px) translateX(5px);
}

.wrapper--active-overlay {
  overflow: hidden;
}

.overlay {
  background-color: #333537;
  height: 100vh;
  width: 100%;
  top: -100%;
  opacity: 0.01%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.overlay.overlay--active {
  opacity: 1;
  top: 0;
}

.overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.25rem;
  color: #fff;
  font-family: "Play";
}

.overlay__item {
  margin-bottom: 0.625rem;
}
.overlay__item:last-child {
  margin-bottom: 0;
}
.overlay__item:hover {
  opacity: 0.7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  padding-top: 1.75rem;
}

.menu {
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  padding-right: 1.5rem;
}
.menu__item:last-child {
  padding-right: 0;
}

.menu__link {
  white-space: nowrap;
}

.phone {
  position: relative;
  white-space: nowrap;
}

.phone__img {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 3px;
}

@media screen and (max-width: 768px) {
  .header__phone {
    display: none;
  }
}

.phone__contacts {
  font-family: "Play";
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.primary {
  background: #F5F5F5;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 6.25rem;
}
.welcome::before {
  content: "";
  background: url("../img/welcome.png") no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 10%;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .welcome::before {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 480px) {
  .welcome::before {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50%;
  }
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome__info {
  text-align: left;
  width: 50%;
  margin-top: 5.75rem;
}
@media screen and (max-width: 768px) {
  .welcome__info {
    width: 80%;
    text-align: center;
  }
}

.welcome__title {
  font-family: "Play";
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1.375rem;
  word-wrap: break-word;
}
@media screen and (max-width: 480px) {
  .welcome__title {
    font-size: 2.5rem;
  }
}

.welcome__text p {
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin-bottom: 2.0625rem;
}

.welcome__button {
  margin-bottom: 4.1875rem;
}

@media screen and (max-width: 768px) {
  .advantage {
    display: none;
  }
}

.advantage__item {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__item:last-child {
  margin-right: 0;
}

.advantage__img {
  margin-right: 0.4375rem;
  width: 3.125rem;
  height: 3.125rem;
}

.advantage__text {
  font-family: "Play";
}

.fixed {
  position: fixed;
  right: 5%;
  top: 22%;
}
@media screen and (max-width: 768px) {
  .fixed {
    display: none;
  }
}

.fixed__item {
  margin-bottom: 1.125rem;
}
.fixed__item:last-child {
  margin-bottom: 0;
}

.fixed__link {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: #666666;
  border-radius: 50%;
}
.fixed__link.is-active {
  background: #E01F3D;
  position: relative;
}
.fixed__link.is-active:after {
  position: absolute;
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border-radius: 50%;
  border: 0.0625rem solid #E01F3D;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.why {
  text-align: center;
}

.why__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

.why__title {
  margin-bottom: 0.4375rem;
}
@media screen and (max-width: 320px) {
  .why__title {
    margin-bottom: 0;
  }
}

.why__qual {
  width: 36.875rem;
  font-family: "Play";
  color: #666;
}
@media screen and (max-width: 480px) {
  .why__qual {
    width: 85%;
  }
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .why__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  position: relative;
  margin-right: 4.375rem;
}
@media screen and (max-width: 480px) {
  .why__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-right: 0;
  }
}
.why__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 4.1875rem;
  height: 1.3125rem;
  background: url("../img/dots.png");
  left: 102%;
  top: 18%;
}
@media screen and (max-width: 768px) {
  .why__item::after {
    display: none;
  }
}
.why__item:last-child {
  margin-right: 0;
}
.why__item:last-child::after {
  content: none;
}

.why__dots {
  margin: 0 0.25rem;
  padding-top: 3.75rem;
}

.why__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #F2F5F4;
}
.why__img--logo {
  width: 4.25rem;
  height: 4.25rem;
}

.why__info {
  padding: 1.5rem 0;
}
@media screen and (max-width: 480px) {
  .why__info {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0.75rem;
  }
}

.info__text {
  font-family: "Play";
  color: #666;
  line-height: 19rem 5px;
}

.offers {
  background: #F8FAF9;
  position: relative;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__item {
  font-family: "Play";
}
@media screen and (max-width: 768px) {
  .offers__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 4.375rem;
    overflow: hidden;
  }
}

.offer__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .offer__image {
    width: 70%;
    height: 70%;
    margin-right: 0;
  }
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.offer__title {
  font-size: 2.25rem;
  margin: 1.5625rem 0;
}
@media screen and (max-width: 768px) {
  .offer__title {
    text-align: center;
    padding: 0 35px;
  }
}

.offer__text {
  margin-bottom: 1.5rem;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .offer__text {
    text-align: center;
    padding: 0 15px;
  }
}

.offer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media screen and (max-width: 768px) {
  .offer__details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.offer__specific {
  margin-right: 2.75rem;
}
@media screen and (max-width: 768px) {
  .offer__specific {
    margin-right: 2.75rem;
  }
}

.offer-specific__info {
  font-size: 1.125rem;
  font-weight: 700;
}

.offer__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .offer__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .offer__order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.offer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.25rem;
  margin-right: 13px;
}
@media screen and (max-width: 768px) {
  .offer__price {
    margin-right: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .offer__price {
    padding-left: 25px;
  }
}

.slider__img--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__img {
  width: 1.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.team {
  text-align: center;
}

.team__title {
  margin-bottom: 4.125rem;
}
@media screen and (max-width: 320px) {
  .team__title {
    margin-bottom: 0;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team__item {
  min-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
  }
}

.item__img {
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .item__img {
    display: none;
  }
}

.item__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0px;
  margin-top: 11px;
  overflow: hidden;
}

.item__info--active {
  min-height: 80px;
}

.item__button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.item__svg {
  width: 9px;
  height: 7px;
}

.item__who {
  margin-bottom: 4px;
}

.item__about {
  color: #666666;
}

@media screen and (max-width: 768px) {
  .offers__function {
    display: none;
  }
}

.offers-function__button {
  position: relative;
  cursor: pointer;
}
.offers-function__button:hover .offers-function__list {
  opacity: 95%;
}

.offers-function__img {
  width: 91px;
  height: 91px;
}

.offers-function__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  opacity: 0;
  border-radius: 3px;
  padding: 1.5rem;
  width: 17.0625rem;
  height: 18.375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 23%;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.offers-function__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-function__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-function__logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
}

.reviews {
  text-align: center;
}

.reviews__title {
  margin-bottom: 4.125rem;
}
@media screen and (max-width: 320px) {
  .reviews__title {
    margin-bottom: 0;
  }
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__info {
  display: none;
  background: #F8FAF9;
  width: 58.75rem;
  position: relative;
  padding: 2.625rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.reviews__info--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
@media screen and (max-width: 768px) {
  .reviews__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.reviews__info::before {
  content: "";
  width: 5.1875rem;
  height: 2.5625rem;
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  top: -1.5625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 480px) {
  .reviews__info::before {
    display: none;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-left: 2.375rem;
  padding-top: 1.875rem;
}
@media screen and (max-width: 768px) {
  .review {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .review__img {
    width: 8.1rem;
    height: 8.1rem;
    margin: 0 auto;
  }
}

.review__text {
  font-family: "Play";
  color: #666;
  margin: 1.3125rem 0;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.125rem;
}

.reviews__img {
  width: 4.875rem;
  height: 4.875rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}
.reviews__img:last-child {
  margin-right: 0;
}
.reviews__img--active {
  border: 0.3125rem solid #E01F3D;
}
.reviews__img:hover {
  border: 0.3125rem solid #E01F3D;
  -webkit-transition: border 0.1s ease;
  transition: border 0.1s ease;
}

.reviews__link {
  width: 100%;
  height: 100%;
}

.reviews__logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.order {
  background: url("../img/order.png") center center no-repeat;
  color: #fff;
  font-family: "Play";
}

@media screen and (max-width: 768px) {
  .order__container {
    padding: 0 6.25rem;
  }
}
@media screen and (max-width: 480px) {
  .order__container {
    padding: 0;
  }
}

.order__title {
  text-align: center;
  margin: 3.1875rem 0;
}
@media screen and (max-width: 480px) {
  .order__title {
    margin: 0;
  }
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .order__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.order__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
}
.order__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .order__col {
    margin-right: 0;
  }
}

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8125rem;
}
.order__row:last-child {
  margin-bottom: 0;
}

.order__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.order__block:last-child {
  margin-right: 0;
}

.order__input {
  width: 100%;
  height: 3.625rem;
  border: 0.1875rem solid transparent;
  padding: 1.125rem 0.6875rem;
  border-radius: 0.25rem;
}
.order__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.order__input--textarea {
  height: 9.625rem;
  width: 100%;
  resize: none;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .order__input--textarea {
    margin-bottom: 0;
  }
}

.order__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 480px) {
  .order__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .order__controls {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.125rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio:last-child {
  margin-right: 0;
}
.radio:first-child {
  margin-bottom: 5px;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/checked.png") center no-repeat;
}
@media screen and (max-width: 320px) {
  .radio {
    margin-bottom: 5px;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5rem;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  background: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.buttons {
  margin-top: 2.8125rem;
}
@media screen and (max-width: 768px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .buttons {
    margin-top: 0;
  }
}

.button__reset {
  border: none;
  background: transparent;
  font-weight: 400;
}

.map {
  position: relative;
  background: url("../img/map.png") center no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  padding-left: 0.4375rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 12px;
  }
}

.contacts__address {
  font-family: "Play";
  font-size: 1.125rem;
  margin-bottom: 0.1875rem;
}
@media screen and (max-width: 480px) {
  .contacts__address {
    margin-bottom: 12px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .social {
    padding-right: 0;
  }
}

.social__item {
  margin-right: 0.625rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social-link__logo {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: transparent;
  position: relative;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.social-link__logo:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}